.bordered{
    border: 2px dashed red;
}

.button-container{
    background-color: hsl(159.84deg 100% 74.9%);
    text-align: center;
    margin: 10px;
}
body{
    background-color: aquamarine;
}

  
#wrapper{
    background-color: hsl(159.84deg 100% 74.9%);
    display: flex;
    justify-content: center;
    align-items: center;

}
.grid-container{
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
}

.box{
    width: 70px;
    height: 70px; 
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}

.clicked{
    background-color: aqua;
    color: white;
}

.bomb{
    background-color: red;
    color:white;
}