.bordered{
    border: 2px dashed red;
}

.button-container{
    background-color: hsl(159.84deg 100% 74.9%);
    text-align: center;
    margin: 10px;
}
body{
   
    background-color: aquamarine;
}

  
#wrapper{
    background-color: hsl(159.84deg 100% 74.9%);
    display: flex;
    justify-content: center;
    align-items: center;

}
.grid-container{
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
}

.box{
    width: 70px; /* 10 colonne, sottrai il margine */
    height: 70px; /* 10 righe, sottrai il margine */
    box-sizing: border-box; /* Include il bordo nelle dimensioni */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed blue;
}